<template name="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <!-- {{ t9n 'notifications.title' }} -->
    <span class="notifi"></span>
    {{#if notificationCount}}
      <span class="badge badge-notification">{{notificationCount}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>   
  <div class="notification dropdown-menu">
    <div class="cnotification">
      <div class="flecha"></div>
    </div>
    <div class="head-notification">
      <small><span>{{ t9n "titles.notifications" }}</span></small>
    </div>
    <ul>
      {{#if notificationCount}}
        {{#each notifications}}
          {{> notification}}
        {{/each}}
      {{else}}
        <li><small>{{ t9n 'notifications.empty' }}</small></li>
      {{/if}}
    </ul>
  </div>
</template>

<template name="notification">
  <a href="{{notificationPostPath}}">
    <li>
      <div class="subtitle">
        <h6>{{ t9n "notifications.subtitle1" }}{{ count }}{{ t9n "notifications.subtitle2" }}</h6>
      </div>
      <small>{{ onPost }}</small>
    </li>
  </a>
</template>
