<template name="new_post">
  <div id="post-form">
    <div class="row">
      <div class="form-group grupo-input">
        <form action="/post/submit" class="post-form form-inline">
          <div class="col-sm-8 new-post input-group input-group-lg">
              <strong class="post-attrs input-group-addon input-group-lg">{{ t9n 'post.body' }}</strong>
              <input type="text" name="body" id="body" class="form-control fat" autocomplete="off" placeholder="..." />
              <div class="input-group-btn">
                <input id="post-save" type="submit" class="btn btn-primary disabled pull-right" value="{{ t9n 'post.submit' }}" />
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
