<template name="posts">
  <div>
    {{# if currentUser }}
      {{> new_post }}
    {{/if}}
  </div>
  <ul class="list-group">
    {{#each posts }}
      {{> post }}
    {{/each}}
  </ul>
  <div id="showMoreResults"></div>
</template>
