<template name="post">
  <li class="post list-group-item" name="post">
    <div class="pull-right">
      &nbsp; | &nbsp;
      {{ votesCount }}
      {{#if currentUser}}
        {{#if ownPost }}
          <span name="star" class="star glyphicon glyphicon-star" data-toggle="tooltip" data-placement="top" title="{{ t9n 'post.favorite' }}"></span>
          <a href="#" data-confirm="true" class="post-del">
            <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="{{ t9n 'post.remove' }}"></span>
          </a>
        {{else}}
          {{#if isVoted }}
            <a href="#" class='post-fav'>
              <span name="star" class="star glyphicon glyphicon-star" data-toggle="tooltip" data-placement="top" title="{{ t9n 'post.favorite' }}"></span>
            </a>
            {{else}}
            <a href="#" class='post-fav'>
              <span name="star" class="star glyphicon glyphicon-star-empty" data-toggle="tooltip" data-placement="top" title="{{ t9n 'post.favorite' }}"></span>
            </a>
          {{/if}}
        {{/if}}
        {{else}}
          <span name="star" class="star glyphicon glyphicon-star" data-toggle="tooltip" data-placement="top" title="{{ t9n 'post.favorite' }}"></span>
        {{/if}}
    </div>
    <a href="{{ pathFor 'post' }}" data-confirm="true" class="post-comments pull-right">
        {{ pluralize commentsCount 'post.comments' }} 
    </a>  
    {{ createdAtFormatted }} 
      {{#unless activePost }}
        | <a href="{{ pathFor 'post' }}" class="full-post">
          {{ t9n 'post.show_post' }}
        </a>
      {{/unless }}
      | {{ t9n 'share.share' }}
    {{#with this}}
      {{> share }}
    {{/with}}
    <h5>
      <p class="list-group-item-text" data-linkify="this"><strong class="linkifable"> {{ body }} </strong> </p>      
    </h5>
  </li>
</template>
