<template name="show_post">
  {{> post }}
  {{#with this }}
    <ul class="list-group">
      {{#each comments }}
        {{> comment }}
      {{/each}}
      {{> new_comment }}
    </ul>
  {{/with}}
</template>
