<template name="comment">
  <li class="comment list-group-item">
    <div class="pull-right">
      {{#if ownComment }}
        <a href="#" data-confirm="true" class="comment-del">
          <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="{{ t9n 'comment.remove' }}"></span>
        </a>
      {{/if}}
    </div>
    <h5>{{ createdAtFormatted }}</h5>
    <h6>
      <blockquote class="list-group-item-text" data-linkify="this"><p><small class="linkifable"> {{ body }} </small></p></blockquote>      
    </h6>
  </li>
</template>
