<template name="new_comment">
  <div id="comment-form">
    <div class="row">
      <div class="form-group">
        <form class="comment-form form-inline">
          <div class="col-sm-12 new-comment input-group">
              <input type="text" name="body" class="form-control fat body" autocomplete="off" placeholder="..." />
              <div class="input-group-btn">
                <input id="comment-save" type="submit" class="btn btn-primary disabled pull-right" value="{{ t9n 'comments.submit' }}" />
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
