<template name="footer">
  <footer class="footer">
    <p class="pull-right">
      &copy; 2014 <a href='http://quedirias.com'> QueDirias.com </a>  &middot; <a href="mailto:support@quedirias.com">{{t9n 'users.support'}}</a> &middot; 
      <a href="/terms-of-use">{{ t9n 'links.terms' }}</a>
    </p>
  </footer>
</template>
