<template name="header">
  <header class="navbar">
    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="nav navbar-brand">
          <a href="/#" id="brand-name">{{ t9n "titles.general" }}</a>
        </div>
        <div class="">
          <ul class="nav navbar-nav navbar-right pull-right">
            {{#if currentUser }}
              <li class="dropdown notification-container">
                {{> notifications}}
              </li> 
            {{/if}}
            {{> accountButtons }}
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>
