<template name="links">
  <a href="/" id="all">{{ t9n 'links.allPosts' }}</a>
  |
  <a href="/myposts" id="my-posts">{{ t9n 'links.myPosts' }}</a>
  <a href="/myfavorites" id="my-favorite-posts">{{ t9n 'links.myFavoritePosts' }}</a>
  |
  <a href="/favorites" id="most-favorite-posts">{{ t9n 'links.mostFavorites' }}</a>
</template>
