<template name="terms">
  <div class="well">

    <p>
      Declaración de derechos y responsabilidades 
      <br/>
      <br/>

      Fecha de la última revisión: 20 de Junio de 2014
      <br />
      <br />
      Esta Declaración de derechos y responsabilidades ("Declaración", "Condiciones" o "DDR") tiene su origen en los Principios de QueDirias y contiene las condiciones de servicio que rigen nuestra relación con los usuarios y con todos aquellos que interactúan con QueDirias. Al usar o al acceder a QueDirias, muestras tu conformidad con esta Declaración, que se actualiza periódicamente según se estipula en la sección 14 más adelante. Al final de este documento también encontrarás otros recursos que te ayudarán a comprender cómo funciona QueDirias.
      <br />
      <br />

      Publicaciones
      <br />
      <br />
      Las publicaciones se veran de forma anonima, sin saber sexo, edad, nombre, o algun dato revelante al usuario, QueDirias intenta ser un lugar donde puedas pedir opiniones o contar anecdotas sin exponerte publicamente.
      <br />
      <br />

      Privacidad
      <br />
      <br />

      Tu privacidad es muy importante para nosotros. Por lo que no la compartiremos con nadie, solo la usaremos para mostrarte publicidad relevante hacia tu perfil. 
      <br />
      <br />

      Compartir el contenido y la información
      <br />
      <br />

      Eres el propietario de todo el contenido y la información que publicas en QueDirias, y puedes controlar cómo se comparte a través de la configuración de la privacidad y de las aplicaciones. Además:
      Para el contenido protegido por derechos de propiedad intelectual, como fotografías y vídeos (en adelante, "contenido de PI”), nos concedes específicamente el siguiente permiso, nos concedes una licencia no exclusiva, transferible, con derechos de sublicencia, libre de derechos de autor, aplicable globalmente, para utilizar cualquier contenido de PI que publiques en QueDirias o en conexión con QueDirias (en adelante, "licencia de PI"). Esta licencia de PI finaliza cuando eliminas tu contenido de PI o tu cuenta.
      Cuando eliminas contenido de PI, este se borra de forma similar a cuando vacías la papelera o papelera de reciclaje de tu equipo. No obstante, entiendes que es posible que el contenido eliminado permanezca en copias de seguridad durante un plazo de tiempo razonable (si bien no estará disponible para terceros).
      Cuando publicas contenido o información, significa que permites que todos, incluidas las personas que son ajenas a QueDirias, accedan y usen dicha información.
      Siempre valoramos tus comentarios o sugerencias acerca de QueDirias, pero debes entender que podríamos utilizarlos sin obligación de compensarte por ello (del mismo modo que tú no tienes obligación de ofrecerlos). Tu perfil es anonimo y solo se exige un registro para que puedas controlar tus publicaciones.
      <br />
      <br />

      Seguridad
      <br />
      <br />

      Hacemos todo lo posible para hacer que QueDirias sea un sitio seguro, pero no podemos garantizarlo. Necesitamos tu ayuda para que así sea, lo que implica los siguientes compromisos de tu parte:
      No publicarás comunicaciones comerciales no autorizadas (como correo no deseado, "spam") en QueDirias.
      No recopilarás información o contenido de otros usuarios, ni accederás de otro modo a QueDirias, utilizando medios automáticos (como harvesting bots, robots, arañas o scrapers) sin nuestro permiso previo.
      No participarás en marketing multinivel ilegal, como el de tipo piramidal, en QueDirias.
      No subirás virus ni código malintencionado de ningún tipo.
      No solicitarás información de inicio de sesión ni accederás a una cuenta perteneciente a otro usuario.
      No molestarás, intimidarás ni acosarás a ningún usuario.
      No publicarás contenido que contenga lenguaje ofensivo, resulte intimidatorio o pornográfico, que incite a la violencia o que contenga desnudos o violencia gráfica o injustificada.
      Seguirás nuestras Normas de las promociones y cumplirás todas las leyes que sean aplicables si ofreces en QueDirias un concurso, regalo o apuesta (colectivamente, “promoción”) o haces publicidad de ellos.
      No utilizarás QueDirias para actos ilícitos, engañosos, malintencionados o discriminatorios.
      No realizarás ninguna acción que pudiera inhabilitar, sobrecargar o afectar al funcionamiento correcto o al aspecto de QueDirias, como, por ejemplo, un ataque de denegación de servicio o la alteración de la presentación de páginas u otra funcionalidad de QueDirias.
      No facilitarás ni fomentarás el incumplimiento de esta Declaración o nuestras políticas.
      <br />
      <br />

      Seguridad de la cuenta y registro
      <br />
      <br />

      No proporcionarás información personal falsa en QueDirias, ni crearás una cuenta para otras personas sin su autorización.
      No crearás más de una cuenta personal.
      Si inhabilitamos tu cuenta, no crearás otra sin nuestro permiso.
      No utilizarás QueDirias si eres menor de 13 años.
      No utilizarás QueDirias si has sido declarado culpable de un delito sexual.
      Mantendrás la información de contacto exacta y actualizada.
      No compartirás tu contraseña, no dejarás que otra persona acceda a tu cuenta, ni harás nada que pueda poner en peligro la seguridad de tu cuenta.
      No transferirás la cuenta a nadie sin nuestro consentimiento previo por escrito.
      <br />
      <br />

      Protección de los derechos de otras personas
      <br />
      <br />

      Respetamos los derechos de otras personas y esperamos que tú hagas lo mismo.
      No publicarás contenido ni realizarás ninguna acción en QueDirias que infrinja o viole los derechos de otros o que viole la ley de algún modo.
      Podemos retirar cualquier contenido o información que publiques en QueDirias si consideramos que infringe esta Declaración o nuestras políticas.
      Si retiramos tu contenido debido a una infracción de los derechos de autor de otra persona y consideras que ha sido un error, tendrás la posibilidad de apelar.
      Si infringes repetidamente los derechos de propiedad intelectual de otras personas, desactivaremos tu cuenta cuando lo estimemos oportuno.
      No puedes utilizar nuestros derechos de autor ni nuestras marcas registradas (como QueDirias, los logotipos QueDirias y Q, QD) ni ninguna marca que se parezca a las nuestras, excepto si lo permiten nuestras Normas de uso de las marcas de forma expresa o salvo si recibes consentimiento previo por escrito de QueDirias.
      No publicarás los documentos de identificación ni información financiera de nadie en QueDirias.
      <br />
      <br />

      Acerca de los anuncios u otro contenido comercial servido u optimizado por QueDirias
      <br />
      <br />

      Nuestro objetivo es ofrecer anuncios y otro contenido comercial o patrocinado que sea valioso para nuestros usuarios y anunciantes. Para ayudarnos a lograrlo, aceptas lo siguiente:
      Nos concedes permiso para usar tu correo, contenido e información en relación con contenido comercial, patrocinado o relacionado (como una marca que te guste) que sirvamos o mejoremos. Esto significa, por ejemplo, que permites que una empresa u otra entidad nos pague por mostrar tu nombre y/o foto del perfil con tu contenido o información sin que recibas ninguna compensación por ello.
      <br />
      <br />

      Disposiciones especiales aplicables al software
      <br />
      <br />

      Si descargas o utilizas nuestro software, como un producto de software independiente, una aplicación o un plug-in para el navegador, aceptas que, periódicamente, el software puede descargar e instalar mejoras, actualizaciones y funciones adicionales a fin de mejorarlo y desarrollarlo.
      No modificarás nuestro código fuente ni llevarás a cabo con él trabajos derivados, como descompilar o intentar de algún otro modo extraer dicho código fuente, excepto en los casos permitidos expresamente por una licencia de código abierto o si te damos nuestro consentimiento expreso por escrito.
      <br />
      <br />

      Enmiendas
      <br />
      <br />

      A no ser que hagamos un cambio por motivos legales o administrativos, o para corregir una declaración incorrecta, te daremos siete (7) días para que nos remitas tus comentarios sobre el cambio de esta Declaración. 
      <br />
      <br />

      Terminación
      <br />
      <br />

      Si infringes la letra o el espíritu de esta Declaración, o de algún otro modo provocas riesgos a QueDirias o causas que estemos expuestos legalmente, podríamos dejar de proporcionarte todo o parte de QueDirias. Te notificaremos por correo electrónico o la próxima vez que intentes acceder a tu cuenta.
      <br />
      <br />

      Conflictos
      <br />
      <br />

      Resolverás cualquier demanda, causa de acción o conflicto (colectivamente, "demanda") que tengas con nosotros surgida de o relacionada con la presente Declaración o con QueDirias únicamente en el tribunal mas cercano a nuestra ubicacion, y aceptas que sean dichos tribunales los competentes a la hora de resolver los litigios de dichos conflictos, así como cualquier demanda que pudiera surgir entre tú y nosotros, independientemente de las disposiciones sobre conflictos de leyes.
      Si alguien interpone una demanda contra nosotros relacionada con tus acciones, tu contenido o tu información en QueDirias, te encargarás de indemnizarnos y nos librarás de la responsabilidad por todos los posibles daños, pérdidas y gastos de cualquier tipo (incluidos los costes y tasas legales razonables) relacionados con dicha demanda. Aunque proporcionamos normas para la conducta de los usuarios, no controlamos ni dirigimos sus acciones en QueDirias y no somos responsables del contenido o la información que los usuarios transmitan o compartan en QueDirias. No somos responsables de ningún contenido que se considere ofensivo, inapropiado, obsceno, ilegal o inaceptable que puedas encontrar en QueDirias. No somos responsables de la conducta de ningún usuario de QueDirias, tanto dentro como fuera de QueDirias.
      INTENTAMOS MANTENER QueDirias EN FUNCIONAMIENTO, SIN ERRORES Y SEGURO, PERO LO UTILIZAS BAJO TU PROPIA RESPONSABILIDAD. PROPORCIONAMOS QueDirias TAL CUAL, SIN GARANTÍA ALGUNA EXPRESA O IMPLÍCITA, INCLUIDAS, ENTRE OTRAS, LAS GARANTÍAS DE COMERCIABILIDAD, ADECUACIÓN A UN FIN PARTICULAR Y NO INCUMPLIMIENTO. NO GARANTIZAMOS QUE QueDirias SEA SIEMPRE SEGURO O ESTÉ LIBRE DE ERRORES, NI QUE FUNCIONE SIEMPRE SIN INTERRUPCIONES, RETRASOS O IMPERFECCIONES. QueDirias NO SE RESPONSABILIZA DE LAS ACCIONES, EL CONTENIDO, LA INFORMACIÓN O LOS DATOS DE TERCEROS Y POR LA PRESENTE NOS DISPENSAS A NOSOTROS, NUESTROS DIRECTIVOS, EMPLEADOS Y AGENTES DE CUALQUIER DEMANDA O DAÑOS, CONOCIDOS O DESCONOCIDOS, DERIVADOS DE O DE ALGÚN MODO RELACIONADOS CON CUALQUIER DEMANDA QUE TENGAS INTERPUESTA CONTRA TALES TERCEROS. SI ERES RESIDENTE DE CALIFORNIA, NO SE TE APLICA EL CÓDIGO CIVIL DE CALIFORNIA §1542, SEGÚN EL CUAL: UNA RENUNCIA GENERAL NO INCLUYE LAS DEMANDAS QUE EL ACREEDOR DESCONOCE O NO SOSPECHA QUE EXISTEN EN SU FAVOR EN EL MOMENTO DE EJECUCIÓN DE LA RENUNCIA, LA CUAL, SI FUERA CONOCIDA POR ÉL, DEBERÁ HABER AFECTADO MATERIALMENTE A SU RELACIÓN CON EL DEUDOR. NO SEREMOS RESPONSABLES DE NINGUNA PÉRDIDA DE BENEFICIOS, ASÍ COMO DE OTROS DAÑOS RESULTANTES, ESPECIALES, INDIRECTOS O INCIDENTALES DERIVADOS DE O RELACIONADOS CON ESTA DECLARACIÓN DE QueDirias, INCLUSO EN EL CASO DE QUE SE HAYA AVISADO DE LA POSIBILIDAD DE QUE SE PRODUZCAN DICHOS DAÑOS. NUESTRA RESPONSABILIDAD CONJUNTA DERIVADA DE LA PRESENTE DECLARACIÓN O DE QueDirias NO PODRÁ SOBREPASAR LA CANTIDAD MAYOR DE CIEN DÓLARES (100 $) O LA CANTIDAD QUE NOS HAYAS PAGADO EN LOS ÚLTIMOS DOCE MESES. LAS LEYES APLICABLES PODRÍAN NO PERMITIR LA LIMITACIÓN O EXCLUSIÓN DE RESPONSABILIDAD POR DAÑOS INCIDENTALES O CONSECUENCIALES, POR LO QUE LA EXCLUSIÓN DE LIMITACIÓN ANTERIOR PODRÍA NO SER APLICABLE EN TU CASO. EN TALES CASOS, LA RESPONSABILIDAD DE QueDirias SE LIMITARÁ AL GRADO MÁXIMO PERMITIDO POR LA LEY APLICABLE.
      <br />
      <br />

      Disposiciones especiales aplicables a usuarios que no residan en Estados Unidos
      <br />
      <br />

      Nos esforzamos por crear una comunidad global con normas coherentes para todos, pero también por respetar la legislación local. Las siguientes disposiciones se aplicarán a los usuarios y a las personas que no sean usuarias de QueDirias que se encuentran fuera de Estados Unidos:
      Das tu consentimiento para que tus datos personales sean transferidos y procesados en Estados Unidos.
      Si te encuentras en un país bajo el embargo de Estados Unidos o que forme parte de la lista SDN (Specially Designated Nationals, Nacionales especialmente designados) del Departamento del Tesoro de Estados Unidos, no participarás en actividades comerciales en QueDirias (como publicidad o pago) ni utilizarás una aplicación o sitio web de la Plataforma. No utilizarás QueDirias si se te ha prohibido recibir productos, servicios o software procedente de Estados Unidos.
      <br />
      <br />

      Definiciones
      <br />
      <br />

      El término "QueDirias" se refiere a las funciones y servicios que proporcionamos, incluidos los que se ofrecen a través de (a) nuestro sitio web en www.QueDirias.com y cualquier otro sitio web con marca o marca compartida de QueDirias (incluidos los subdominios, versiones internacionales, widgets y versiones móviles); (b) nuestra plataforma; (c) plugins sociales, y (d) otros medios, software (como la barra de herramientas), dispositivos o redes ya existentes o desarrollados con posterioridad.
      El término "Plataforma" se refiere al conjunto de API y servicios (como el contenido) que permiten que otras personas, incluidos los desarrolladores de aplicaciones y los operadores de sitios web, obtengan datos de QueDirias o nos los proporcionen a nosotros.
      El término "información" se refiere a los hechos y otra información sobre ti, incluidas las acciones que realizan los usuarios y las personas que no son usuarias que interactúan con QueDirias.
      El término "contenido" se refiere a todo lo que tú u otros usuarios publicáis en QueDirias que no se incluye en la definición de "información".
      El término "datos" o "datos de usuario" se refiere a los datos, incluidos el contenido o la información de un usuario, que otros pueden obtener de QueDirias o proporcionar a QueDirias a través de la plataforma.
      El término “publicar” significa publicar en QueDirias o proporcionar contenido de otro modo mediante QueDirias.
      Por "usar" se entiende utilizar, ejecutar, copiar, reproducir o mostrar públicamente, distribuir, modificar, traducir y crear obras derivadas.
      El término "usuario registrado activo" se refiere al usuario que ha entrado en QueDirias al menos una vez en los últimos 30 días.
      El término "aplicación" significa cualquier aplicación o sitio web que usa la plataforma o accede a ella, así como cualquier otro componente que recibe o ha recibido datos de nosotros. Si ya no accedes a la plataforma pero no has eliminado todos los datos que te hemos proporcionado, el término "aplicación" continuará siendo válido hasta que los elimines.
      <br />
      <br />

      Otro
      <br />
      <br />

      Si resides o tienes tu ubicación de actividad comercial en EE.UU. o Canadá, esta Declaración constituye el acuerdo entre QueDirias, Inc y tú. De lo contrario, esta Declaración constituye el acuerdo entre QueDirias Ireland Limited y tú. Las menciones de "nosotros" o "nos" se refieren a QueDirias, Inc. o QueDirias Ireland Limited, según corresponda.
      Esta Declaración constituye el acuerdo completo entre las partes en relación con QueDirias y sustituye a cualquier acuerdo previo.
      Si alguna parte de esta Declaración no puede hacerse cumplir, la parte restante seguirá teniendo validez y efecto completos.
      Si no cumpliéramos alguna parte de esta Declaración, no se considerará una exención.
      Cualquier corrección a o exención de esta Declaración deberá hacerse por escrito y estar firmada por nosotros.
      No transferirás ninguno de tus derechos u obligaciones bajo esta Declaración a ningún tercero sin nuestro consentimiento.
      Todos nuestros derechos y obligaciones según esta Declaración son asignables libremente por nosotros en conexión con una fusión, adquisición o venta de activos o por efecto de ley o de algún otro modo.
      Nada en esta Declaración nos impedirá el cumplimiento de la ley.
      Esta Declaración no otorga derechos de beneficiario a ningún tercero.
      Nos reservamos todos los derechos que no te hayamos concedido de forma expresa.
      Cuando accedas a QueDirias o lo uses deberás cumplir todas las leyes aplicables.

      <br />
      <br />

      Contacto
      <br />
      <br />

      Nuestros unicos canales de contacto oficiales son: support@quedirias.com y soporte@quedirias.com, pueden ser utilizados para resolver preguntas, solucionar situaciones problematicas, o denunciar publicaciones que no respeten alguna de las clausulas.
      <br />
      <br />
    </p>
  </div>
</template>
