/* CSS declarations go here */

textarea {
  resize: none;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.bordered {
  box-shadow: 12px 0 15px -4px rgba(0, 5, 5, 0.175), -12px 0 8px -4px rgba(0, 5, 5, 0.175);
}

.sized {
  height: 100%;
}

.new-post {
  padding: 10px;
  width: 100%;
}

.post-attrs {
  font-family: 'lobster';
}

.post {
  height: auto;
  min-height: 98px;
}

.fat {
  padding: 5px;
  margin-bottom: 3px;
}

.flash {
  position: fixed;
  bottom: 20px;
  width: 65%;
  left: 18%;
  margin: 0 auto;
  text-align: center;
  z-index: 1100;
}

.footer {
  position: fixed;
  bottom: 0px;
  right: 3px; 
  width: 100%;
  background-color: white;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-right: 20px;
  font-size: 13px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
}

@font-face {
  font-family: lobster;
  src:
  url("/fonts/lobster.otf"),
}

.navbar {
  color: #FFF;
  background: #2f6e97;
}

.navbar-nav li a {
  color: #fff;
  padding-top: 21px;
  padding-bottom: 21px;
  font-size: 20px;
}

.navbar-nav li a:hover {
  color: #0f0f0f;
  text-decoration: none;
  background-color: transparent !important;
}

.navbar-brand a {
  padding: 12px 15px;
  font-size: 38px;
  line-height: 32px;
  font-weight: 450;
  font-family: 'lobster';
  text-decoration: none;
  color: #fff;
}

.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}

/*	ESTILOS NUESTROS	*/
.grupo-input{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.normal-hide {
  display: none;
}

.new-comment {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.notifi{
  background: url("/images/comments.png");
  background-repeat: no-repeat;
  padding: 0px 15px;
}

.open span.notifi{
  background: url("/images/commentshover.png");
  background-repeat: no-repeat;
}

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap;
}

.cnotification{
  position: relative;
}

.notification {
  max-width: 300px;
  height: 400px;
  width: 300px;
}

.notification ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.notification li {
  height: 75px;
  border-bottom: solid 1px rgba(100, 100, 100, .22);
}

.notification li:hover {
  background-color: #F3F3F3;
}

.notification li small {
  color: black;
  position: relative;
  padding-left: 10px; 
  
}

.notification-container {
  max-width: 75px;
  width: 75px;
}

.subtitle h6{
  color: #99C;
  position: relative;
  top: 6px;
  left: 15px;
}

.flecha{
  background-image: url(/images/flecha.png);
  background-repeat: no-repeat;
  background-size: auto;
  left: auto;
  position: absolute;
  right: 8px;
  top: -16px;
  width: 20px;
  height: 11px;
}

.badge-notification{
  background-color: red;
  position: absolute;
  font-size: 10px;
  padding: 2px 3px;
  top: 15px;
  right: 35px;
}

.head-notification{
  height: 25px;
  background-clip: padding-box;
  border-bottom: solid 1px rgba(100, 100, 100, .22);
  z-index: 100;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  line-height: 1.28;
  text-align: left;
  direction: ltr;
}

.head-notification small span{
  color: #333;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 8px 6px 10px;
}

.dropdown-menu span.sheep{
  background: url("/images/sheep.png");
  background-repeat: no-repeat;
  /* height: 30px; */
  /* width: 30px; */
  display: inline-block;
  padding: 15px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

ul .list-inline li {
  padding-right: 0px;
  margin-right: -5px;
}

.social-image {
  height: 20px;
  width: 20px;
}

/* .main-gad { */ 
/*   float: right; */
/*   height: 600px; */
/*   width: 300px; */
/*   position: absolute; */
/*   top: 100px; */
/*   right: 25px; */
/* } */
