<template name="share">
  <div class="social-widget vcenter">
    <ul class="list-inline">
      <li class="social">
        <div class="social-fb">
          <a href="https://facebook.com/sharer.php?u={{ postUrl }}" target="_blank" data-toggle="tooltip" tooltip="{{ t9n 'share.facebook' }}">
            <img class="social-image" src="/images/facebook.png" alt="Facebook"/>
          </a>
        </div>
      </li>
      <li class="social">
        <div class="social-twitter">
          <a href="https://twitter.com/intent/tweet?url={{ postUrl }}&text={{ tailedBody }}&via=QueDiriasSi" target="_blank" data-toggle="tooltip" tooltip="{{ t9n 'share.twitter' }}">
            <img class="social-image" src="/images/twitter.png" alt="Twitter"/>
          </a>
        </div>
      </li>
      <li class="social">
        <div class="social-gplus">
          <a href="https://plus.google.com/share?url={{ postUrl }}" target="_blank" data-toggle="tooltip" tooltip="{{ t9n 'share.googleplus' }}">
            <img class="social-image" src="/images/google.png" alt="Google+"/>
          </a>
        </div>
      </li>
    </ul>
  </div>
</template>
